{% extends "base.html" %} {% block content %} {% include "navigation.html" %}

<div class="mx-auto max-w-xl p-6">
  <div class="rounded-lg border border-stone-700 p-6">
    <h3 class="mb-4 text-xl font-bold">Edit Topic</h3>
    <form
      method="POST"
      action=""
      enctype="multipart/form-data"
      class="space-y-4 text-sm"
    >
      {% csrf_token %}

      <!-- Topic Title -->
      <div class="flex gap-4">
        <div>
          <label for="topic_title" class="font-semibold">Title</label>
          <input
            type="text"
            name="title"
            id="topic_title"
            value="{{ topic.title }}"
            required
            class="mt-2 w-full rounded-lg border border-stone-700 px-3 py-2 transition-colors focus:border-stone-50 focus:outline-none"
          />
        </div>

        <!-- Topic Deadline -->
        <div>
          <label for="topic_deadline" class="font-semibold">Deadline</label>
          <input
            type="datetime-local"
            name="deadline"
            id="topic_deadline"
            value="{{ topic.deadline|date:'Y-m-d\TH:i' }}"
            required
            class="mt-2 w-full rounded-lg border border-stone-700 px-3 py-2 transition-colors focus:border-stone-50 focus:outline-none"
          />
        </div>
      </div>

      <!-- Topic Content -->
      <div>
        <label for="topic_content" class="font-semibold">Content</label>
        <textarea
          name="content"
          id="topic_content"
          rows="5"
          required
          class="mt-2 w-full rounded-lg border border-stone-700 px-3 py-2 transition-colors focus:border-stone-50 focus:outline-none"
        >
{{ topic.content }}</textarea
        >
      </div>

      <!-- Current Attachment -->
      <div>
        <label class="text-sm font-semibold">Current Attachment</label>
        <div class="mt-2">
          {% for attachment in topic.attachments.all %}
          <a
            href="{{ attachment.file.url }}"
            target="_blank"
            class="flex items-center gap-2 rounded-lg border border-stone-700 px-3 py-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48"
              />
            </svg>
            <p>{{ attachment.file_name }}</p>
          </a>
          {% empty %}
          <div
            class="rounded-lg border border-stone-700 px-3 py-2 text-center text-sm"
          >
            No attachment
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- New Attachment -->
      <div>
        <label for="attachments" class="text-sm font-semibold"
          >New Attachment</label
        >
        <input
          type="file"
          name="attachments"
          id="attachments"
          multiple
          class="mt-2 w-full text-sm file:mr-4 file:rounded-full file:border-0 file:bg-stone-700 file:px-4 file:py-2 file:font-semibold file:text-stone-50 hover:file:bg-stone-600"
        />
      </div>

      <!-- Cancel and Save Buttons -->
      <div class="flex gap-4">
        <!-- Cancel Button -->
        <a
          href="{% url 'courses:edit_course_view' course_id %}"
          class="w-full rounded-lg border border-stone-700 px-3 py-2 text-center font-semibold transition-colors hover:bg-stone-900"
        >
          Cancel
        </a>
        <!-- Save Button -->
        <button
          type="submit"
          class="w-full cursor-pointer rounded-lg bg-stone-50 px-3 py-2 font-semibold text-stone-950 transition-colors hover:bg-stone-200"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
